* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#ul-header {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#ul-header li {
    padding: 50px 0px;
}
