* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    padding: 50px 0px;
}

#bienvenue {
    background-color: #D3E3FD;
}

#img {
    display: flex;
    justify-content: center;
}

#img img {
    width: 250px;
    padding-left: 20px;
}

#ul-header {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
